html,
body {
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
}

#map {
  position: fixed;
  top: 50px;
  width: 98%;
  height: 90%;
}

.legend {
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.leaflet-panel-layers-group {
  background: rgba(255, 255, 255, 0.5) !important;
}


.leaflet-panel-layers {
  background: rgba(255, 255, 255, 0.5);
}

.my-labels {
  font-size: 10px !important;
}

.results-table {
  font-family: Arial, sans-serif;
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.results-header {
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  text-align: center;
}

.table-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 8px 10px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  color: #555;
}

.results-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  font-size: 14px;
  position: relative;
}

.results-row.border_top{
  border-top: 1px solid #ddd;
}

.results-row.winner_row,
.results-row.winner {
  border-top: 1px solid #ddd;
  font-weight: bold;
  background-color: #f0f8ff;
  /* light blue background for winner */
}

.results-row.winner::before {
  content: "✓ ";
  color: #2a9d8f;
  font-weight: bold;
}

.results-row.democrat::before,
.results-row.republican::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  border-radius: 2px;
}

.results-row.democrat::before {
  background-color: #3578e5;
  /* Blue for Democrats */
}

.results-row.republican::before {
  background-color: #e53e3e;
  /* Red for Republicans */
}

.candidate-name {
  display: flex;
  align-items: center;
  flex: 1;
  text-align: left;
  padding-left: 10px;
}

.vote-count,
.percentage {
  width: 70px;
  text-align: right;
}

.vote-count,
.margin-info {
  width: 70px;
  text-align: right;
  font-weight: bold;
  font-size: 12px;
}

.vote-info {
  color: #666;
  font-size: 12px;
  padding: 8px 10px;
  border-top: 1px solid #ddd;
  text-align: center;
}

.leaflet-popup-content {
  margin: 5px;
}

.leaflet-popup-content-wrapper {
  width: 365px;
}

.border_bottom{
  border-bottom: 1px solid #ddd;
}

.margin-info.democrat,
.percentage.democrat {
  color: #3578e5;
  /* Blue for Democrats */
}

.margin-info.republican,
.percentage.republican  {
  color: #e53e3e;
  /* Red for Republicans */
}

.swing-arrow-tooltip {
  position: absolute;
  pointer-events: none;
  border: 6px solid transparent;
  box-shadow: none !important;
  background: transparent;
  content: "";
  color: black;
  font-weight: bold;
  font-size: 12px;
}

.leaflet-panel-layers-border {
  margin:3px;
}

.leaflet-popup-tip-container {
  display: none;
}

.leaflet-container a.leaflet-popup-close-button {
  top: 5px;
  right: 9px;
}


.map-title {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
  color: #333;
  z-index: 1000; /* Ensure the title is above the map */
  text-align: center;
}